html {
    scroll-behavior: smooth;
}

#hero {
    position: relative;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
}

#overlay {
    background: #fafafa10;
    backdrop-filter: blur(.6rem);
}